@charset "UTF-8";

/**
 * 常用
 */
.text-success {
  color: #09bb07;
}
.bg-grey {
  background-color: #f8f8f8;
}

.page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.chao-page,
.dun-page,
.tang-page {
  padding-top: 50px;
}
